.w3-tangerine {
    font-family: "Tangerine", serif;
    color: #f05f40;
    font-weight: bold;
}

.w3-sofia {
    font-family:  'Sofia', cursive;
    color: #000000;
}

.line-separator{
height:2px;
background:#717171;
border-bottom:1px solid #313030;

}
body{
	background-image: url("back.jpg");
	font-size: 1.2em;
}
label{
	font-size: 1.5em;
	font-weight: bold;;
	color: #f05f40;
}
#submit{
	font-size: 2em;
}
#mannKiBaat {
	background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}
.w3-color-primary{
	background-color:  #f05f40;
}

.w3-text-colour-primary{
	color: #f05f40;
}
#mainhead{
font-size: 9em;
}
#subhead{
font-size: 2em;
}