<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <br>
                <p class="text-faded">Wish to gift has everything you need to start gifting we here at w2g take away the thinking task away from
                    user and put it on us... according to ur description of the special person for whom the gift is and how
                    he is special to u we provide best selected stuff based on people with good taste about it to suggest
                    u and make u select the best item for them</p>
                <a class="btn btn-default btn-xl js-scroll-trigger" routerLink="/wish" routerLinkActive="active" >Start Wishing!</a>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>