
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="home#page-top">Wish 2 Gift</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#signup">signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="home#contact" >Contact</a>
                </li>

            </ul>
            <div class="ml-auto">
                <form class="navbar-form verical-form" >
                    <input type="text" name="name" value="" placeholder=" Email or Phone">&nbsp;
                    <input type="password" name="password" value="" placeholder=" Password">&nbsp;
                    <Button class="btn btn-primary btn-md">Login</Button>
                </form>
            </div>
        </div>
    </div>
</nav>
