<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Favorite Source of Making wishes come true</h1>
            <hr>
            <p>Wish 2 Gift can help you find better gifting ideas for the loved ones u care about, here at w2g we care about
                ur care for them...</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get Started!</a>
        </div>
    </div>
</header>