
#formbody{
    background-color: rgba(255,255,255,0.4);
    border-color: #f05f40;
    border-width: medium;
}
.w2gtext{
    vertical-align: middle;
    display: inline-block;
}
.background{
    background-color: #f05f40;
}
#Name:after{
    content:"*" ;
    color:red
}
#Age:after{
    content:"*" ;
    color:red
}
#Locality:after{
    content:"*" ;
    color:red
}
#Gender:after{
    content:"*" ;
    color:red
}
.hide{
    display:none;
}
#wishform{
    border-style:solid;
    border-color:#f05f40;

    padding:  30px 30px 30px 30px;
    
}
.icon-primary{
    color: #F05F40
}
