<div class="call-to-action bg-primary">
    <section id="form" class="w3-row w3-container">
        <br>
        <div class="w3-col l2">&nbsp;</div>
        <div id="fbase" class="w3-col l8 w3-card-4 w3-row w3-padding w3-margin bg-dark">
            <div id="tbase" class="w3-card w3-white w3-margin">
                <form id="wishForm" action="./index.html" method="post" align="center">
                    <h1 class="w3-container bg-dark w3-padding">Whom You Have In Mind</h1>

                    <!-- form entries go here -->
                    <div class="container" align="left">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Age</h3>
                                </label>
                                <br>
                                <input class="w3-input" type="number" name="age" min="0" max="120" required />
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Gender</h3>
                                </label>
                                <br>
                                <input class="w3-radio" type="radio" name="Gender" checked>&nbsp;Male
                                <br>
                                <input class="w3-radio" type="radio" name="Gender">&nbsp;Female
                                <br>
                                <input class="w3-radio" type="radio" name="Gender">&nbsp;Others
                                <br>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Locality</h3>
                                </label>
                                <br>
                                <input class="w3-radio" type="radio" name="Locality" checked>&nbsp;Urbun
                                <br>
                                <input class="w3-radio" type="radio" name="Locality">&nbsp;Semi-rural
                                <br>
                                <input class="w3-radio" type="radio" name="Locality">&nbsp;Rural
                                <br>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Marital Status</h3>
                                </label>
                                <br>
                                <input class="w3-radio" type="radio" name="Marital">&nbsp;Married
                                <br>
                                <input class="w3-radio" type="radio" name="Marital">&nbsp;Single
                                <br>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Working Status</h3>
                                </label>
                                <br>
                                <input class="w3-radio" type="radio" name="Working">&nbsp;Studying
                                <br>
                                <input class="w3-radio" type="radio" name="Working">&nbsp;Working
                                <br>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <label>
                                    <h3>Kids</h3>
                                </label>
                                <br>
                                <input class="w3-radio" type="radio" name="Kids">&nbsp;No
                                <br>
                                <input class="w3-radio" type="radio" name="Kids">&nbsp;Yes
                                <br>
                            </div>
                            <hr>
                        </div>
                        <br>
                        <br>
                        <div class="row" align="center">
                            <div class="col-md-12">
                                <input class="w3-input" type="file" name="upload" style="width: 50%;">
                            </div>
                        </div>
                    </div>
                    <br>
                    <input class="w3-btn w3-block bg-dark w3-text-white" id="submit" type="submit" value="Wish!" name="Wish!" />
                </form>
            </div>
        </div>
        <div class="w3-col l2">&nbsp;</div>
        <br>
    </section>
</div>